version: 2
updates:
  - package-ecosystem: uv
    directory: /
    schedule:
      interval: weekly
      day: monday
      time: 8:00
      timezone: America/New_York
  - package-ecosystem: cargo
    directory: /
    schedule:
      interval: weekly
      day: monday
      time: 8:00
      timezone: America/New_York
