---
version: 2
updates:
  - package-ecosystem: uv
    directory: /
    schedule:
      interval: cron
      cronjob: 0 8 * * *
      timezone: America/New_York
  - package-ecosystem: cargo
    directory: /
    schedule:
      interval: cron
      cronjob: 0 8 * * *
      timezone: America/New_York
