.DS_Store
.ruff_cache/
.pytest_cache/
.venv/
__pycache__/
.env
.coverage_output/
.coverage*
*.csv
*.egg-info/
wandb/
/target/
**/target/
data/
**/model.tar.gz
**/*.safetensor
**/*.json
!.sqlx/*.json
.claude/tasks/
.scratchpad/
.devenv
.env
.understand-anything
