version = 1

[install]
gh.pkg-path = "gh"
pulumi.pkg-path = "pulumi"
pulumi-python.pkg-path = "pulumiPackages.pulumi-python"
ruff.pkg-path = "ruff"
ruff.version = "0.14.7"
uv.pkg-path = "uv"
vulture.pkg-path = "python312Packages.vulture"
yamllint.pkg-path = "yamllint"
nushell.pkg-path = "nushell"
fselect.pkg-path = "fselect"
awscli2.pkg-path = "awscli2"
gum.pkg-path = "gum"
mask.pkg-path = "mask"
bacon.pkg-path = "bacon"
cargo-watch.pkg-path = "cargo-watch"
cargo-nextest.pkg-path = "cargo-nextest"
cargo-llvm-cov.pkg-path = "cargo-llvm-cov"
cargo-llvm-cov.pkg-group = "rust-toolchain"
cargo.pkg-path = "cargo"
cargo.pkg-group = "rust-toolchain"
rustc.pkg-path = "rustc"
rustc.pkg-group = "rust-toolchain"
clippy.pkg-path = "clippy"
clippy.pkg-group = "rust-toolchain"
rustfmt.pkg-path = "rustfmt"
rustfmt.pkg-group = "rust-toolchain"
rust-lib-src.pkg-path = "rustPlatform.rustLibSrc"
rust-lib-src.pkg-group = "rust-toolchain"
llvm.pkg-path = "llvm"
llvm.pkg-group = "rust-toolchain"
libiconv.pkg-path = "libiconv"
libiconv.systems = ["aarch64-darwin", "x86_64-darwin"]
rust-analyzer.pkg-path = "rust-analyzer"
rust-analyzer.pkg-group = "rust-analyzer"
gcc.pkg-path = "gcc"
gcc.systems = ["aarch64-linux", "x86_64-linux"]
clang.pkg-path = "clang"
clang.systems = ["aarch64-darwin", "x86_64-darwin"]
duckdb.pkg-path = "duckdb"
openssl.pkg-path = "openssl"
pkgconf.pkg-path = "pkgconf"
direnv.pkg-path = "direnv"
jq.pkg-path = "jq"
markdownlint-cli.pkg-path = "markdownlint-cli"
pre-commit.pkg-path = "pre-commit"
xenon.pkg-path = "xenon"

[hook]
on-activate = '''
if [[ -f .env ]]; then
  set -a
  source .env
  set +a
fi
'''

[build]

[options]
systems = ["aarch64-darwin", "aarch64-linux", "x86_64-darwin", "x86_64-linux"]
