---
name: Python code checks
run-name: Python code checks
on:
  pull_request:
jobs:
  detect_changes:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    outputs:
      python: ${{ steps.filter.outputs.python }}
    steps:
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            python:
              - '**/*.py'
              - '**/*.pyi'
              - '**/pyproject.toml'
              - '**/uv.lock'
  run_python_code_checks:
    needs: detect_changes
    if: needs.detect_changes.outputs.python == 'true'
    name: Run Python code checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install Flox
        uses: flox/install-flox-action@v2
      - name: Run Python code checks
        uses: flox/activate-action@v1
        with:
          command: mask development python all
      - name: Upload coverage to Coveralls
        uses: coverallsapp/github-action@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          file: coverage/.python.xml
